/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}


/*BODY*/
body {
    
    background: rgb(216, 157, 157);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}


/*GAME*/
.game {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}


/*PLAYERS*/
.player-0-panel,.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #1362ac;
    top: -7px;
    right: 10px;
    
}

.player-current{
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}


/*BUTTON*/

button {
    
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: 'Lato';
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
    
}

button:hover { font-weight: 600; }

button:focus {
    outline: none;
}

.btn-new { top: 35px;}
.btn-roll { top: 400px;}
.btn-hold { top: 470px;}



/*DICE*/

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}


/*CLASS FOR WINNER*/

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }


/*COLOR ICONS*/

ion-icon{
    color:red;
    width: 20px;
}


/*RESPONSIVE*/
@media screen and (max-width: 767px)
{   
    
    .game{
        width: 80%;
        height: 50%;
        display: flex;
        flex-flow: row wrap;
        top:30%;
    }
    .game > *{
        flex: 1 100%;
        background-color: #fff;
    }
    .active{
        background-color: #f7f7f7;
    }
    .player-name{
        font-size: 20px;
    }
    .btn-roll{top: 515px;}
    .btn-hold{top: 655px;}
    .active .player-name::after{
        right: -20px;
        top: -18px;
    }
    .player-current{
        width: auto;
    }
    .dice{
        top: 545px;
        transform: translateX(-50%);
    }
}